<h2>Create an Account</h2>

<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username, "Username:" %>
    <%= f.text_field :username, placeholder: "programming_boss" %>
  </div>
  <div class="form-group">
    <%= f.label :handle, "Handle:" %>
    <%= f.text_field :handle, placeholder: "#jquerymadness" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, "Password Confirmation:" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email, placeholder: "johndoe@gmail.com" %>
  </div>
  <%= f.submit "Join Now", class: "btn btn-primary" %>
<% end %>
