<h1> <%= @user.username %><span class="handle">(<%= @user.handle %>)</span></h1>
<% if @current_user %>
  <div id="following">
    <% if @user.followers.find_by(follower_id: @current_user.id) %>
      <%= link_to "unfollow", user_follower_path(@user, @user.followers.find_by(follower_id: @current_user.id)), id: "unfollow", method: 'delete', class: "btn btn-danger btn-sm", remote: true %>
    <% else %>
      <%= link_to "follow", user_followers_path(@user), class: "btn btn-info btn-sm", id: "follow", method: 'post',  remote: true %>
    <% end %>
  </div>
<% end %>
<hr>
<% if @user %>
  <div id="all_posts">
    <h3>tweets</h3>
    <% @user.posts.each do |post| %>
      <p><%= @user.username %> - <%= post.text %></p>
    <% end %>
  </div>
  <div id="new_post">
    <%= link_to "tweet", new_user_post_path(@user), class: "btn btn-success", id: "post_link", remote: true %>
  </div>
<% end %>
