<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice].html_safe %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger" role="alert">
        <%= flash[:alert].html_safe %>
      </div>
    <% end %>
  <div class="container">
    <%= yield %>
  </div>

  <hr>

  <% if current_user %>
    <%= link_to "#{current_user.username}", user_path(current_user), class: "btn btn-info" %>
    <%= link_to "logout", logout_path("current"), method: "get", class: "btn btn-danger" %>
    Logged in as <strong><%= current_user.username %>.</strong>
  <% else %>
    <%= link_to "signup", signup_path, class: "btn btn-info" %>
    <%= link_to "login", login_path, class: "btn btn-success" %>
  <% end %>
</body>
</html>
